<link rel="stylesheet" href="src/features/view/tweet/template.css">

<div class="view">
  <div class="content row">
    <h2 class="id">#27</h2>
    <p class="tweetcontent">This is an example of what a tweet will look like! Yeah baby! :) #weareawesome</p>
    <div class="details">
      author: <p class="author">{{ctrl.tweet.author}}</p>
      posted: <p class="posted">{{ctrl.tweet.posted}}</p>
    </div>
  </div>
  <div class="select row">
    <md-button class="button7">Like</md-button>
    <md-button class="button7">Repost</md-button>
    <md-button class="button7">Reply</md-button>
  </div>
</div>
