<link rel="stylesheet" href="src/features/view/entercrentials/template.css">

<md-content class="view">
    <div layout="column" layout-xs="column">
      <h2>CREDENTIALS</h2>
      <md-input-container flex>
          <label>Username:</label>
          <input type="text"/>
      </md-input-container>
      <md-input-container flex>
          <label>Password:</label>
          <input type="text"/>
      </md-input-container>
      <md-button flex class="md-raised">SUBMIT</md-button>
    </div>
</md-content>
