.credentials {
  width: 100%;
  height: 100%;
  background-color: #E2E8E4;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
}

.input,
.select {
  align-items: center;
}

.button2 {
  background-color: #006C84;
}
