<link rel="stylesheet" href="src/features/view/feed/template.css">

<md-content class=feedview>
  <md-list>
    <!-- <md-list-item class="md-2-line" ng-repeat="item in todos"> -->
      <div class="md-list-item-text">
        <h3>Tweet</h3>
        <p>this is an example</p>
      </div>
      <div class="md-list-item-text">
        <h3>Tweet</h3>
        <p>this is an example</p>
      </div>
      <div class="md-list-item-text">
        <h3>Tweet</h3>
        <p>this is an example</p>
      </div>
      <div class="md-list-item-text">
        <h3>Tweet</h3>
        <p>this is an example</p>
      </div>
      <div class="md-list-item-text">
        <h3>Tweet</h3>
        <p>this is an example</p>
      </div>
      <div class="md-list-item-text">
        <h3>Tweet</h3>
        <p>this is an example</p>
      </div>
      <div class="md-list-item-text">
        <h3>Tweet</h3>
        <p>this is an example</p>
      </div>
      <div class="md-list-item-text">
        <h3>Tweet</h3>
        <p>this is an example</p>
      </div>
      <div class="md-list-item-text">
        <h3>Tweet</h3>
        <p>this is an example</p>
      </div>
      <div class="md-list-item-text">
        <h3>Tweet</h3>
        <p>this is an example</p>
      </div>
    <!-- </md-list-item> -->
  </md-list>
</md-content>
