.view {
  width: 100%;
  height: 100%;
  background-color: #E2E8E4;
  display: flex;
  flex-direction: column;
}

.content {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  background-color: lightgreen;
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  flex-direction: row;
}

.author,
.posted {
  flex: 1;
}

.tweetcontent {
  font-size: 32px;
}

.button7 {
  background-color: #006C84;
}
