<link rel="stylesheet" href="src/features/view/tweet/template.css">
<div class="tweetview">
  <div class="left column">
      <h2 class="view header" ng-show="!ctrl.loggedIn()">LOGIN TO POST A TWEET</h2>
    <div class="view" ng-show="ctrl.loggedIn()">
      <h2 class="header">Tweet</h2>
      <md-input-container class="content">
        <textarea ng-model="tweetcontent" md-select-on-focus></textarea>
      </md-input-container>
      <md-button class="button10" ng-click="ctrl.postTweet(tweetcontent, this)">Post</md-button>
  </div>
  </div>


  <div class="right column">
      <md-grid-list
        md-cols-xs="1" md-cols-sm="1" md-cols-md="1" md-cols-gt-md="1" md-row-height-gt-md="2:1" md-row-height="4:1" md-gutter="12px" md-gutter-gt-sm="8px">
        <md-grid-tile ng-repeat="tweet in ctrl.tweetList" md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1"
        style='background-color:{{ctrl.getRandomColor($index)}}'>
        <h4>{{tweet.content}}</h4>

        <md-grid-tile-footer ng-style="{'height':'20%'}">
          <div class="tweetbuttons">
            <h3>Author: {{tweet.author.uname}}</h3>
            <h4 ng-click="ctrl.like(tweet.id)">Like</h4>
            <h4 ng-click="ctrl.reply(tweetcontent, tweet.id)">Reply</h4>
            <h4 ng-click="ctrl.repost(tweetcontent, tweet.id)">Repost</h4>
          </div>
        </md-grid-tile-footer>
        <md-grid-tile-header ng-style="{'height':'20%'}">Posted: {{tweet.posted | date}}<md-grid-tile-header>
      </md-grid-tile>
      </md-grid-list>
  </div>
</div>
