<link rel="stylesheet" href="src/features/view/profile/template.css">

<md-content class="profile view">
  <md-card class="card">
    <!-- <img src="twitter_bird_logo.png" class="md-card-image" alt="image caption"> -->
    <md-card-content>
      <h2>Jonathan Greer</h2>
      <p>username: jon44</p>
      <p>e-mail: jonathangreer80@outlook.com</p>
      <p>phone: (134) 492-4958</p>
      <p>joined: May 21, 2015</p>
    </md-card-content>
    <md-card-actions layout="row" layout-align="end center">
     <md-button class="button1">Update</md-button>
     <md-button class="button1">Delete</md-button>
    </md-card-actions>
  </md-card>
</md-content>
