.profile {
  width: 100%;
  height: 100%;
  background-color: #E2E8E4;
  display: flex;
}

.update,
.information {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: strecth;
  align-items: center;
}

.button5 {
  background-color: #006C84;
}
