<link rel="stylesheet" href="src/features/view/profile/template.css">

<div class="profile view">
  <div class="information column">
    <h2>John Smith</h2>
    user: <p>{{ctrl.user.uname}}</p>
    email: <p>{{ctrl.user.profile.email}}</p>
    joined: <p>{{ctrl.user.joined}}</p>
  </div>
  <form name="information" class="update column">
    <md-input-container>
      First<label>{{ctrl.user.profile.firstName}}</label>
      <input type="text" ng-model="first">
    </md-input-container>
    <md-input-container>
      Last<label>{{ctrl.user.profile.lastName}}</label>
      <input type="text" ng-modle="last">
    </md-input-container>
    <md-input-container>
      Email<label>{{ctrl.user.profile.email}}</label>
      <input type="text" ng-model="email">
    </md-input-container>
    <md-input-container>
      Phone<label>{{ctrl.user.profile.phone}}</label>
      <input type="text" ng-model="phone">
    </md-input-container>
    <div class="select row">
      <md-button class="button5">Update</md-button>
      <md-button class="button5">Delete</md-button>
    </div>
  </form>
</div>
