* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: black;
}


.mainview {
  flex: 4;
  min-height: 20px;
  min-width: 100px;
  background-color: lightblue;

}

.container {
  display: flex;
  height:100%;

}

.header {
  align-items: center;
  align-content: center;
}

.menu {
background-color: lightgray;
}

.listitem {
  display: flex;
  list-style-type: none;
  padding:0;
  line-height: .5em;
  margin:0;
  height:0px;
  font-size: 16px;
}

.fullscreen
{
  display: flex;
  flex-direction: column;

}

.icon
{
  font-size: 30px;
}

.bigger-icon
{
  font-size: 36px;
}

[ng-click],
[data-ng-click],
[x-ng-click] {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.fullscreen {
  display: flex;
  flex-direction: column;
  background-color: #52958B;
}

.topmenu {
  flex: 1;
}

.sidemenu {
  flex: 1;
  min-height: 20px;
  background-color: lightgreen;

}

.mainview {
  display: flex;
  flex: 4;
  min-height: 20px;
  min-width: 100px;
  background-color: lightblue;
  justify-content: space-around;
  align-items: stretch;
}

.container {
  display: flex;
  flex: 6;

}

.header {
  align-items: center;
  align-content: center;
}

.profile,
.credentials {
  display: flex;
  align-items: stretch;
}

.credentials {
  flex: 1;
}
